
.theme-6281fd {
  #home .searchWrap .el-button--primary, .el-button--primary, .bg-1, .el-pagination.is-background .el-pager li:not(.disabled).active {
    background: #6281fd;;
    border-color: #6281fd;
    border-top: 1px solid #6281fd
  }

  .aui-bar-tab .aui-active, .el-tabs__item.is-active {
    color: #6281fd
  }

  .bd-r-1 {
    border-right: 1px solid #fff
  }

  .el-tabs__active-bar, .pagination .active, #signUp .el-button--success, #sendDiamond .el-button--success, #votes .el-button--success, #voteSuccess .el-button--success, #voteSuccess .el-button--success {
    background: #6281fd;;
  }

  #signUp .el-button--success, #sendDiamond .el-button--success, #votes .el-button--success, #voteSuccess .el-button--success {
    border-color: #6281fd;
  }

}

.theme-29abdd {
  #home .searchWrap .el-button--primary, .el-button--primary, .bg-1, .el-pagination.is-background .el-pager li:not(.disabled).active {
    background: #29abdd;;
    border-color: #29abdd;
    border-top: 1px solid #29abdd
  }

  .aui-bar-tab .aui-active, .el-tabs__item.is-active {
    color: #29abdd
  }

  .bd-r-1 {
    border-right: 1px solid #fff
  }

  .el-tabs__active-bar, .pagination .active, #signUp .el-button--success, #sendDiamond .el-button--success, #votes .el-button--success, #voteSuccess .el-button--success {
    background: #29abdd;;
  }

  #signUp .el-button--success, #sendDiamond .el-button--success, #votes .el-button--success, #voteSuccess .el-button--success {
    border-color: #29abdd;
  }

}

.theme-ff7f24 {
  #home .searchWrap .el-button--primary, .el-button--primary, .bg-1, .el-pagination.is-background .el-pager li:not(.disabled).active {
    background: #ff7f24;;
    border-color: #ff7f24;
    border-top: 1px solid #ff7f24
  }

  .aui-bar-tab .aui-active, .el-tabs__item.is-active {
    color: #ff7f24
  }

  .bd-r-1 {
    border-right: 1px solid #fff
  }

  .el-tabs__active-bar, .pagination .active, #signUp .el-button--success, #sendDiamond .el-button--success, #votes .el-button--success, #voteSuccess .el-button--success {
    background: #ff7f24;;
  }

  #signUp .el-button--success, #sendDiamond .el-button--success, #votes .el-button--success, #voteSuccess .el-button--success {
    border-color: #ff7f24;
  }

}

.theme-ff6a6a {
  #home .searchWrap .el-button--primary, .el-button--primary, .bg-1, .el-pagination.is-background .el-pager li:not(.disabled).active {
    background: #ff6a6a;;
    border-color: #ff6a6a;
    border-top: 1px solid #ff6a6a
  }

  .aui-bar-tab .aui-active, .el-tabs__item.is-active {
    color: #ff6a6a
  }

  .bd-r-1 {
    border-right: 1px solid #fff
  }

  .el-tabs__active-bar, .pagination .active, #signUp .el-button--success, #sendDiamond .el-button--success, #votes .el-button--success, #voteSuccess .el-button--success {
    background: #ff6a6a;;
  }

  #signUp .el-button--success, #sendDiamond .el-button--success, #votes .el-button--success, #voteSuccess .el-button--success {
    border-color: #ff6a6a;
  }

}

.theme-ff4040 {
  #home .searchWrap .el-button--primary, .el-button--primary, .bg-1, .el-pagination.is-background .el-pager li:not(.disabled).active {
    background: #ff4040;;
    border-color: #ff4040;
    border-top: 1px solid #ff4040
  }

  .aui-bar-tab .aui-active, .el-tabs__item.is-active {
    color: #ff4040
  }

  .bd-r-1 {
    border-right: 1px solid #fff
  }

  .el-tabs__active-bar, .pagination .active, #signUp .el-button--success, #sendDiamond .el-button--success, #votes .el-button--success, #voteSuccess .el-button--success {
    background: #ff4040;;
  }

  #signUp .el-button--success, #sendDiamond .el-button--success, #votes .el-button--success, #voteSuccess .el-button--success {
    border-color: #ff4040;
  }

}

.theme-a4d3ee {
  #home .searchWrap .el-button--primary, .el-button--primary, .bg-1, .el-pagination.is-background .el-pager li:not(.disabled).active {
    background: #a4d3ee;;
    border-color: #a4d3ee;
    border-top: 1px solid #a4d3ee
  }

  .aui-bar-tab .aui-active, .el-tabs__item.is-active {
    color: #a4d3ee
  }

  .bd-r-1 {
    border-right: 1px solid #fff
  }

  .el-tabs__active-bar, .pagination .active, #signUp .el-button--success, #sendDiamond .el-button--success, #votes .el-button--success, #voteSuccess .el-button--success {
    background: #a4d3ee;;
  }

  #signUp .el-button--success, #sendDiamond .el-button--success, #votes .el-button--success, #voteSuccess .el-button--success {
    border-color: #a4d3ee;
  }
}

.theme-ffb6c1 {
  #home .searchWrap .el-button--primary, .el-button--primary, .bg-1, .el-pagination.is-background .el-pager li:not(.disabled).active {
    background: #ffb6c1;;
    border-color: #ffb6c1;
    border-top: 1px solid #ffb6c1
  }

  .aui-bar-tab .aui-active, .el-tabs__item.is-active {
    color: #ffb6c1
  }

  .bd-r-1 {
    border-right: 1px solid #fff
  }

  .el-tabs__active-bar, .pagination .active, #signUp .el-button--success, #sendDiamond .el-button--success, #votes .el-button--success, #voteSuccess .el-button--success {
    background: #ffb6c1;;
  }

  #signUp .el-button--success, #sendDiamond .el-button--success, #votes .el-button--success, #voteSuccess .el-button--success {
    border-color: #ffb6c1;
  }

}

.theme-473cbb {
  #home .searchWrap .el-button--primary, .el-button--primary, .bg-1, .el-pagination.is-background .el-pager li:not(.disabled).active {
    background: #473cbb;;
    border-color: #473cbb;
    border-top: 1px solid #473cbb
  }

  .aui-bar-tab .aui-active, .el-tabs__item.is-active {
    color: #473cbb
  }

  .bd-r-1 {
    border-right: 1px solid #fff
  }

  .el-tabs__active-bar, .pagination .active, #signUp .el-button--success, #sendDiamond .el-button--success, #votes .el-button--success, #voteSuccess .el-button--success {
    background: #473cbb;;
  }

  #signUp .el-button--success, #sendDiamond .el-button--success, #votes .el-button--success, #voteSuccess .el-button--success {
    border-color: #473cbb;
  }

}

.theme-a2cd5a {
  #home .searchWrap .el-button--primary, .el-button--primary, .bg-1, .el-pagination.is-background .el-pager li:not(.disabled).active {
    background: #a2cd5a;;
    border-color: #a2cd5a;
    border-top: 1px solid #a2cd5a
  }

  .aui-bar-tab .aui-active, .el-tabs__item.is-active {
    color: #a2cd5a
  }

  .bd-r-1 {
    border-right: 1px solid #fff
  }

  .el-tabs__active-bar, .pagination .active, #signUp .el-button--success, #sendDiamond .el-button--success, #votes .el-button--success, #voteSuccess .el-button--success {
    background: #a2cd5a;;
  }

  #signUp .el-button--success, #sendDiamond .el-button--success, #votes .el-button--success, #voteSuccess .el-button--success {
    border-color: #a2cd5a;
  }

}



